@model NikahMetromoniApp.Models.RegistrationViewModel
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="banner-style">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumbs">
                    <p style="text-align: center; font-size: 28px; font-weight: 600; margin-top: 132px; color: white;">----------REGISTRATION----------</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-10 col-xs-12 col-lg-offset-2 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading" style="color: #00a661; font-size: 18px;">Registration</div>
                    <div class="panel-body">
                        <div class="row form-group">
                            <label class="col-md-4 control-label" style="text-align: right"></label>
                            <div class="col-md-6 selectContainer" id="hide_div">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                    <select name="UserRole" class="form-control selectpicker" required="required">
                                        @*<option value="Bride/Grooms">Bride/Grooms</option>*@
                                        <option value="Marriage Register">Marriage Register</option>
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="row form-group">
                            <label class="col-md-4 control-label" style="text-align: right">Name</label>
                            <div class="col-md-3 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input name="FirstName" placeholder="First Name" class="form-control" type="text" required="required">
                                </div>
                            </div>
                            <div class="col-md-3 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input name="LastName" placeholder="Last Name" class="form-control" type="text" required="required">
                                </div>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                        <div class="row form-group">
                            <label class="col-md-4 control-label" style="text-align: right">Gender</label>
                            <div class="col-md-6 selectContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                    <select name="Gender" class="form-control selectpicker" required="required">
                                        <option value="">Select</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group ">
                            <label class="col-md-4 control-label" style="text-align: right">Email</label>
                            <div class="col-md-6 selectContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                    <input name="Email" placeholder="E-Mail Address" class="form-control" type="text" required="required">
                                </div>
                            </div>
                        </div>
                        <div class="row form-group ">
                            <label class="col-md-4 control-label" style="text-align: right">Contact Number</label>
                            <div class="col-md-6 selectContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                    <input name="PhoneNumber" placeholder="(+880)" class="form-control" type="text" required="required">
                                </div>
                            </div>
                        </div>
                        <div class="row form-group ">
                            <label class="col-md-4 control-label" style="text-align: right">License No</label>
                            <div class="col-md-6 selectContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                    <input name="LicenseNo" placeholder="Enter License" class="form-control" type="text" required="required">
                                </div>
                            </div>
                        </div>
                        <div class="row form-group ">
                            <label class="col-md-4 control-label" style="text-align: right">Address</label>
                            <div class="col-md-6 selectContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                    <input name="Address" placeholder="Enter Address" class="form-control" type="text" required="required">
                                </div>
                            </div>
                        </div>
                        <div class="row form-group location">
                            <label class="col-md-4 control-label" style="text-align: right">City</label>
                            <div class="col-md-6 selectContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                    @* @Html.DropDownListFor(model => model.DistrictId, null, "", new { @class = "form-control show-tick" })*@
                                    <select id="DistrictId" name="DistrictId" class="form-control selectpicker" required="required"></select>
                                </div>
                            </div>
                        </div>

                        <div class="row form-group location">
                            <label class="col-md-4 control-label" style="text-align: right">Area</label>
                            <div class="col-md-6 selectContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                    @*@Html.DropDownListFor(model => model.UpozilaId, null, "", new { @class = "form-control show-tick" })*@
                                    <select id="UpozilaId" name="UpozilaId" class="form-control selectpicker" required="required"></select>
                                </div>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label class="col-md-4 control-label" style="text-align: right">Password</label>
                            <div class="col-md-3 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input name="Password" placeholder="Password" class="form-control" type="password" required="required">
                                </div>
                            </div>
                            <div class="col-md-3 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input name="ConfirmPassword" placeholder="Confirm Password" class="form-control" type="password" required="required">
                                </div>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label"></label>
                            <div class="col-md-6">
                                <br>
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button type="submit" class="btn btn-warning">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspNext <span class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function() {
            $("#hide_div").hide();
            $("#DistrictId").select2();
            $("#UpozilaId").select2();
            getDistricts();
        });

        function getDistricts() {
            $.get("/api/Locations/District", function (data) {
                var $el = $("#DistrictId");
                $el.empty(); // remove old options
                $el.append($("<option></option>")
                    .attr("value", '').text(''));
                $.each(data, function (value, key) {
                    $el.append($('<option>', {
                        value: key.id,
                        text: key.nameEnglish
                    }));
                });
            });
        }

        $(document.body).on("change", "#DistrictId", function () {

            // Refress All Dropdown
            $("#UpozilaId").val(null).trigger('change');

            var districtId = $("#DistrictId").val();
            if (districtId > 0) {
                $.ajax({
                    type: "GET",
                    url: "/api/Locations/Upozila",
                    contentType: "application/json; charset=utf-8",
                    data: { districtId: districtId },
                    success: function (data) {
                        var $el = $("#UpozilaId");
                        $el.empty(); // remove old options
                        $el.append($("<option></option>")
                            .attr("value", '').text(''));
                        $.each(data, function (value, key) {
                            $el.append($('<option>', {
                                value: key.id,
                                text: key.nameEnglish
                            }));
                        });
                    }
                });
            }
        });

    </script>
}