@{
    ViewBag.Title = "LegalAdvice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner-style">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumbs">
                    <p style="text-align: center; font-size: 28px; font-weight: 600; margin-top: 132px; color: white;">----------LEGAL ADVICE----------</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />

<div class="container">
    <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1"></div>
    <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10">

        <div>
            <p style="text-align: justify">
                <strong>1. Marriage Registration: </strong><br /><br />
                A marriage certificate is an official statement that two
                people are married. In most jurisdictions, a marriage certificate is issued by a government
                official only after the civil registration of the marriage.A marriage license serves a dual
                purpose of granting permission for a marriage to take place and then endorsing the same
                document to record the fact that the marriage has been performed. A marriage certificate
                may be required for a number of reasons. It may be required as evidence of change of a
                party's name, on issues of legitimacy of a child, during divorce proceedings, or as part of
                a genealogical history, besides other purposes.

            </p>
            <br />

            <p style="text-align: justify">
                <strong>2.Divorce registration:</strong><br /><br />
                Divorce is the process of terminating a marriage or marital union. Divorce usually entails the
                canceling or reorganizing of the legal duties and responsibilities of marriage, thus dissolving
                the bonds of matrimony between a married couple under the rule of law of the particular
                country or state. Divorce laws vary considerably around the world,[1] but in most countries,
                divorce requires the sanction of a court or other authority in a legal process, which may
                involve issues of distribution of property,[2] child custody,[2] alimony (spousal support),
                child visitation / access, parenting time, child support, and division of debt. In most
                countries, monogamy is required by law, so divorce allows each former partner to marry
                another person
                <br />
                <br />
                <br />
                The Legal Process of Obtaining a divorce in Bangladesh
                <br />
                <br />
                The simple three steps are: i) Giving written notice, ii) Meeting the Arbitration Tribunal,
                iii) After the expiry of 90 days, taking the Registrar's registration certificate.

            </p>
            <br />

            <p style="text-align: justify">
                <strong>3.Divorce Notice:</strong><br /><br />
                The spouse can send a legal notice for divorce to the other spouse
                communicating his/her intention to undertake legal proceedings against the other party. Since
                legal notice is a formal communication sent by one person to the other, warning them would a
                good decision before taking any legal action.

            </p>
            <br />

            <p style="text-align: justify">
                <strong>4.Marriage Counselling:</strong><br /><br />
                Marriage counseling, also called couples therapy, is a type of
                psychotherapy. Marriage counseling helps couples of all types recognize and resolve conflicts
                and improve their relationships. Increasingly there is a trend toward professional certification and
                government registration of these services. This is in part due to the presence of duty of care issues
                and the consequences of the counselor or therapist's services being provided in a fiduciary
                relationship.

            </p>
        </div>

    </div>
    <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1"></div>
</div>

